[Unit]
Description=BIRD2 BGP Prefix Updater
After=network.target bird.service

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /opt/bird2-bgp-prefix-updater/src/prefix_updater.py
User=root
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
